{% extends 'base.html' %}
{% block title %}Online Bussines Provider{% endblock title %}
{% block body %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <title>Online Bussines Provider</title>
</head>
<body>    
    <div class="contener pt-4" style="background-color: #555555;">
        <div class="text-center text-white my-4" ><br><br><br>
            <h1>About Us</h1><br><br><br>
        </div>
    </div>
        <article  class="text-center text-black px-5"style="padding-top:5em; padding-bottom:10em;">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque iste numquam repellendus! Veniam vel maxime perspiciatis? Repudiandae porro magnam aspernatur magni, minus, est expedita quibusdam veniam optio placeat tempore deleniti soluta sunt excepturi repellat ut nam incidunt labore. Magnam eveniet molestiae deleniti numquam amet aliquam repellat optio natus. Eveniet, sint.
        </article>
    <div class="contener md-3">
        <div>
            <h1 class=" text-black my-4 px-5">Contact Us</h1>
        </div>
            <form action="/about" method="POST"></form>
            {% csrf_token %}
                <div class="from-group mx-5">
                     <label >Name</label>
                     <input type="text" class="form-control" name="name" placeholder="Enter Full Name">
                </div><br>
                <div class="from-group mx-5">
                     <label > Email Address</label>
                     <input type="email" class="form-control" name="email"  placeholder="Enter a Email Address">
                </div><br>
                <div class="from-group mx-5">
                     <label >Phone No</label>
                     <input type="number" class="form-control" name="phone_no" placeholder="Enter a Mobile No">
                </div><br>
                <div class="from-group mx-5 mb-3">
                     <label > Tell Me What You Want To Contact Me</label>
                     <textarea name="contact" class="form-control" id="contact" name="query" cols="110%" rows="2" placeholder="Type Here..."></textarea>
                </div><br>
                <div class="from-group mx-5 mb-5">
                    <button class="btn btn-primary" type="submit">Submit</button>
                </div>
            </form>
    </div>

</body>
</html><br><br>
{% endblock body %}


