{% extends 'base.html' %}
{% block title %}Online Bussines Provider{% endblock title %}
{% block body %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body><br><br><br><br>
    <h1>
        <h1>category {{product}} </h1>
        hhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhi this is product page Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem quaerat nostrum doloremque? A odit eaque rem, aut consequuntur, praesentium iste nihil magni corrupti officiis incidunt cum, non totam officia. Cumque sit aut architecto placeat. Quidem assumenda fuga repellat repellendus dolorum. Est, voluptates maxime quas a quaerat alias dolorem quam minus ex quibusdam suscipit maiores molestiae sit similique porro doloribus assumenda!
    </h1>
</body>
</html>
{% endblock body %}
